.markdown-preview-view ul > li.task-list-item.is-checked {
    text-decoration: none;
    font-weight: 600;
    color: var(--text-faint);
}



.cen { display: block; text-align: center; }
b { font-weight: unset; }


.markdown-embed-link {
opacity: 0;
height: 100%;
width: 10px;
left: -3px;
top: 0px;
}

.markdown-embed .markdown-preview-view {
    padding: 0px 10px 0px 10px;
}

.markdown-preview-view :not(li) > span .markdown-embed {
    border-left: 1px solid var(--background-modifier-border)!important;
}