.dataview.table-view-table {
  background-color: var(--background-secondary);
  border-radius: 6px;
  padding: 6px;
}

.dataview.table-view-table .table-view-tr-header {
font-family: 'Atkinson Hyperlegible';
}

.dataview.table-view-table .table-view-tbody tr:nth-child(odd) {
  background-color: #ffffff70;
}

.dataview.table-view-table .table-view-tbody tr:nth-child(even) {
  background-color: #ffffff10;
}

.dataview.table-view-table .table-view-tbody tr:hover,.dataview.table-view-table .table-view-tbody td:hover{
  background-color: #ffffff70;
}

img[alt*="rotate90"]{ transform: rotate(90deg);}

.markdown-preview-view th {
    padding-right: 17px;
}

.markdown-preview-view th, .markdown-preview-view td {
    padding: 4px 7px;
}


li.dataview-result-list-li {
list-style: none;
}


div[src*="Book"] .table-view-tr-header th:first-of-type {
visibility: hidden;
font-size: 0px;
}

div[src*="Book"] .table-view-tr-header th:first-of-type::after {
content: "Title\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
visibility: visible;
font-size: 19.2px;
width: auto;
}

div[src*="Book"] .table-view-tbody tr td:first-of-type .internal-link{
font-weight: 800;
text-decoration: none;
}