
.workspace-tab-header-container,
.workspace-tab-container-before.is-before-active,
.workspace-tab-container-after.is-after-active,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active,
.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
  background: #E3E5E8;
}


.mod-root.workspace-split.mod-vertical div:not(.mod-active) .view-header{ 
border-bottom-width: 1px;
border-bottom-color: var(--background-modifier-border);
}



ul li h1,
ul li h2,
ul li h3,
ul li h4,
ul li h5,
ul li h6 {
display: inline;
}

i#roundedbox {
display: block;
border-radius: 15px;
background-color: var(--background-modifier-border);
padding: 10px;
font-style: normal;
}


i#flexbox {
display: flex;
font-style: normal;
}

i#flexbox > i {
flex: 1;
font-style: normal;
}

i#flexbox > i ~ i {
padding-left: 10px;
}

i#flexbox > i#narrowcol {
flex-grow: 0.4
}


i#flexbox > i#filler {
flex-grow: 0;
display:none;
}

i#flexbox h1 {margin-top: 20px}

i#flexbox hr {
margin: 5px 0;
color: red;
height: 0px;
border-top: 7px solid black;
filter: brightness(0) saturate(100%) invert(50%) sepia(33%) saturate(2878%) hue-rotate(325deg) brightness(88%) contrast(108%);
}