span.cm-header.cm-header-1,
.markdown-preview-section h1 {
  font-weight: 800;
  font-size: 1.8rem;
  letter-spacing:-0.02em;
}


span.cm-header.cm-header-2,
.markdown-preview-section h2 {
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing:-0.02em;
}

span.cm-header.cm-header-3,
.markdown-preview-section h3 {
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing:0.01em;
}


span.cm-header.cm-header-4,
.markdown-preview-section h4 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing:0.01em;
}

span.cm-header.cm-header-5,
.markdown-preview-section h5{
  font-size: 1.1rem;
  font-weight: 800;
  font-variant:small-caps;
  text-transform: lowercase;
  letter-spacing:0.02em;
}

span.cm-header.cm-header-6,
.markdown-preview-section h6 {
  font-size: 1.1rem;
  font-weight: 600;
  font-variant:small-caps;
  text-transform: lowercase;
  letter-spacing:0.02em;
  color: var(--text-title-h5);
}

.markdown-preview-view h1 {
  line-height: 1.9rem;
}
.markdown-preview-view h2 {
  line-height: 1.5rem;
}
.markdown-preview-view h3 {
  line-height: 1.4rem;
}

.markdown-preview-view h1, .markdown-preview-view h2, .markdown-preview-view h3, .markdown-preview-view h4, .markdown-preview-view h5, .markdown-preview-view h6 {
    margin: 0.5rem 0;
}



.cm-formatting.cm-formatting-header.cm-header {
  color: var(--text-accent) !important;
  opacity: 0.45 !important;
}


#framemap {
  transform: scale(1);
}

.popover.hover-popover {
  position: absolute;
  z-index: var(--layer-popover);
  max-height: 500px;
  min-height: 100px;
  width: 600px;
  overflow: hidden;
  padding: 0;
  border-bottom: none;
}


.markdown-preview-view h1, .markdown-preview-view h2, .markdown-preview-view h3, .markdown-preview-view h4, .markdown-preview-view h5, .markdown-preview-view h6{font-family: 'Atkinson Hyperlegible'}

[data-heading*="heading"] {
  display: flex;
    width: 100%;
    align-items: center;
}
[data-heading*="heading"]:before,
[data-heading*="heading"]:after{
    content: '';
    background: #434C5E;
    height: 2px;
    margin: .2em;
    flex: 1;
}
[data-heading*="heading"] > a {
    padding: 0 0.25em!important;
}
[data-heading*="heading"] hr {
    margin: .4em;
}