i#roundedbox {
display: block;
border-radius: 15px;
background-color: var(--background-modifier-border);
padding: 10px;
font-style: normal;
}


i#flexbox {
display: flex;
font-style: normal;
}

i#flexbox > i {
flex: 1;
font-style: normal;
}

i#flexbox > i ~ i {
padding-left: 18px;
}

i#flexbox > i#narrowcol {
flex-grow: 0.4
}

i#flexbox h1:not(:first-of-type) {margin-top: 20px}

i#flexbox hr {
margin: 5px 0;
color: red;
height: 0px;
border-top: 7px solid black;
filter: brightness(0) saturate(100%) invert(50%) sepia(33%) saturate(2878%) hue-rotate(325deg) brightness(88%) contrast(108%);
}

i#flexbox > i#filler,
i#flexbox > i br:first-of-type,
i#flexbox > i h1 + br,
i#flexbox > i hr + br {
display: none;
}

.kanban.coc ul li {padding-top: 5px;}

.kanban.coc ul li ul.contains-task-list {margin-top: 0}

.kanban.coc ul li .list-collapse-indicator {display: none;}

.kanban.coc ul li h1 {display: none; max-height: 0px}

.kanban.coc h1 ~ ul li.task-list-item {display:flex; flex-direction:row;}

.kanban.coc h1 ~ ul li.task-list-item {padding: 3px;}

.kanban.coc h1 ~ ul li.task-list-item ul {max-width: 5rem; align-self: flex-start; display: inline-block; margin-top: 0px; justify-self:end; }

.kanban.coc h1 ~ ul li.task-list-item ul li {display: inline-block;padding:0; margin: 0px 0 0px 8px; border-top: 0; font-weight: initial;}

i#colorbox {
display: block;
width: 100%;
padding-bottom:100%;
}



i#textblock[data-header]::before { /*replace info with anything you like*/
margin-bottom:0.4em;
font-weight: 600;
margin-left: -1em;
padding-left: 1em;
padding-top: 5px;
padding-right: 1em; 
margin-right: -1em;
position: static;
display: block;
background-color: #BEDDDD80; /*replace this colour with anything you like*/
white-space: pre-wrap;
content:'' attr(data-header); /*replace this content with anything you like*/
}

i#textblock[data-header]{
border-left: 1em solid #BEDDDDC8; /*replace this colour with anything you like*/
overflow-x: hidden;
white-space: normal;
word-spacing: normal;
word-break: normal;
border-radius: 6px;
word-wrap: normal;
padding-top: 0;
}

i#textblock { /*replace info with anything you like*/
background-color: var(--background-secondary); /*you can replace with any colour you want here*/
display: inline-block;
border-radius: 10px;
padding: 10px;
font-style: normal;
}