/* Naked Embeds */
.markdown-embed-title { display: none; }
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0;}
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0;}

/*remove the following two line, you will get border and scroll*/
.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; margin-bottom: -10px}
.markdown-preview-view .markdown-embed-content { 
  max-height: unset;
  background-color: var(--background-secondary); /*define different bg color*/
}

/* the link on the top right corner*/
.markdown-embed-link {
color: var(--text-faint);
}

.markdown-embed-link:hover {
color: var(--text-accent);
}


.cm-s-obsidian span.cm-comment::before {
content: " ➡️ ";
color: var(--text-faint);
}
.cm-s-obsidian span.cm-comment {
color: var(--background-primary);
}
.CodeMirror-activeline span.cm-comment {
color: var(--text-faint);
}