.workspace-ribbon {    --ribbon-width: 30px;
}

.clickable-icon {padding-left: 2px; }

.nav-files-container {
    padding-right: 2px;
    padding-left: 0px;
}

.kanban .list-bullet {display:none}


.markdown-preview-view th.header-sort-down, .markdown-preview-view th.header-sort-up, .markdown-preview-view th {background-image:none}