.workspace-ribbon {    --ribbon-width: 30px;
}

body {
	--header-height:32px
}
.clickable-icon {padding-left: 2px; }

.sidebar-toggle-button.mod-right {
	margin-right: 5px
}

.nav-files-container {
    padding-right: 2px;
    padding-left: 0px;
}

[data-task="c"] .list-bullet {display:none}

.kanban .list-bullet {display:none}

.mod-root.workspace-split.mod-vertical .view-header {height: 30px}

.mod-root.workspace-split.mod-vertical.has-maximized .view-header {height: calc(var(--header-height) + 1px)}


.markdown-preview-view th.header-sort-down, .markdown-preview-view th.header-sort-up, .markdown-preview-view th {background-image:none}