.internal-embed.is-loaded[alt="short"] {
  max-height: 45vh !important;
  overflow: auto !important;
  padding-right: 0px!important;

}

.internal-embed.is-loaded[alt="narrow"] {
  max-width: 7.5rem !important;
  overflow: hidden !important;

}

.internal-embed.is-loaded{
margin-bottom: 20px;
}

.internal-embed.is-loaded[alt="minh"] {
 min-height: 11.5rem;
   overflow: auto!important;
}
.internal-embed.is-loaded[alt="stats"] {
  max-height: 10.866666rem;
  min-width: 9.625rem;
  overflow: hidden !important;
}
.internal-embed.is-loaded[alt="statblock"] {
  min-width: 28rem;
  max-height: 45vh !important;
  overflow: auto !important;
  padding-right: 0px!important;
}
.internal-embed.is-loaded[alt="stats2"] {
  max-height: 10.866666rem;
  min-width: 16rem;
  overflow: hidden !important;
}


.internal-embed.is-loaded[alt="tall"] {
  max-height: 70vh !important;
  overflow: auto !important;

}


.kanban .internal-embed.is-loaded[alt*="mtraits" i] .markdown-embed-link,
.kanban .internal-embed.is-loaded[alt*="mtraits" i].markdown-embed-link:hover,
.kanban .internal-embed.is-loaded[alt*="mpowers" i] .markdown-embed-link,
.kanban .internal-embed.is-loaded[alt*="mpowers" i].markdown-embed-link:hover,
.kanban .internal-embed.is-loaded[alt*="stats" i] .markdown-embed-link,
.kanban .internal-embed.is-loaded[alt*="stats" i].markdown-embed-link:hover,
.kanban .internal-embed.is-loaded[alt="narrow"] .markdown-embed-link,
.kanban .internal-embed.is-loaded[alt="narrow"].markdown-embed-link:hover,
.kanban .internal-embed.is-loaded[alt="spacer"] .markdown-embed-link,
.kanban .internal-embed.is-loaded[alt="spacer"].markdown-embed-link:hover{
color: transparent !important;
}


.internal-embed.is-loaded[alt="spacer"] {
padding-left: 1rem !important;
 max-width: 0px !important;
 width: 0px !important;
 background-color: transparent !important;

}

.markdown-preview-view .markdown-embed-content > .markdown-preview-view {
  max-height:none !important;}

.markdown-preview-view .internal-query.is-embed {
margin-left: auto;
margin-right: auto;
border-top:none;
width:55vw !important;
border-bottom:none;
}

.kanban ul li h2[data-heading="Attributes"]{
white-space: nowrap;
min-width: 7.6rem;
}

.kanban [data-heading*="slots" i] + ul.contains-task-list {
flex-direction: row;
justify-content: flex-start;
}

.kanban [data-heading*="slots" i] + ul.contains-task-list > .task-list-item {
flex-grow: 0;
}

.kanban [data-heading*="slots" i] + ul.contains-task-list > .task-list-item input {
  margin: 0 0 0 24px;
  width: 17px;
  height: 17px;
}

.kanban [data-heading*="slots" i] + ul.contains-task-list > li {
  padding-top: 0.275rem;
  padding-bottom: 0.275rem;
}

.kanban [data-heading*="level" i] + ul > li.task-list-item input, .kanban [data-heading*="Saves" i] + ul > li.task-list-item input {
    margin-left: 2px;
}

.kanban [data-heading*="Spells" i] + ul {
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 500px;
}

.kanban [data-heading*="Exh" i] + ul, .kanban [data-heading*="Saves" i] + ul {
  flex-direction: row;
  flex-wrap: wrap;
}

[data-heading*="⌚" i] + ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
[data-heading*="⌚" i] + ul li {
 display: block;
 flex: 1
}