
/* Sourced from lithou
https://github.com/Lithou/Sandbox/blob/main/.obsidian/snippets/pub-Image%20Flags.css*/


table{
    width: auto;
    display: table;
}

.grid span.image-embed[alt*="."],
span[alt*="grid"]{
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
}

img[alt*="grid"],
.grid img[alt*="."]{
    max-height: 30vh;
}

/* Floating Images */
img[alt*="left"] {
    float:left;
    clear:left;
    margin-right: 1rem;
    margin-bottom: 4px;
    margin-top: 4px;
}


img[alt*="right"] {
    float:right;
    clear:right;
    margin-left: 1rem;
    margin-bottom: 4px;
    margin-top: 4px;
}

img[alt*="center"],img[alt*="centre"] {
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4px;
    margin-top: 4px;
}

figcaption {
display: flex;
justify-content: center;
}

figcaption#left {
clear: left;
float: left;
}

figcaption#right {
clear: right;
float: right;
}

figcaption#centre,
figcaption#center {
margin-left: auto;
margin-right: auto;
}

.CodeMirror-code,
.markdown-preview-sizer {
    counter-reset: h1
}

.cm-formatting-header-1.cm-header,h1 {
    counter-reset: h2
}

.cm-formatting-header-2.cm-header,h2 {
    counter-reset: h3
}

.cm-formatting-header-3.cm-headerh3 {
    counter-reset: h4
}

.cm-formatting-header-3.cm-header,h4 {
    counter-reset: h5
}

.cm-formatting-header-5.cm-header,h5 {
    counter-reset: h6
}

/** put counter result into headings */
.cm-formatting-header-1.cm-header::after,
.markdown-preview-section h1::before {
    counter-increment: h1;
    content: counter(h1) ". "
}

.cm-formatting-header-2.cm-header::after,
.markdown-preview-section h2::before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) ". "
}

.cm-formatting-header-3.cm-header::after,
.markdown-preview-section h3::before{ /*override the default style for focused headings */
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) ". "
}

.cm-formatting-header-4.cm-header::after,
.markdown-preview-section h4::before{
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "
}

.cm-formatting-header-5.cm-header::after,
.markdown-preview-section h5::before{
    counter-increment: h5;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "
}

.cm-formatting-header-6.cm-header::after,
.markdown-preview-section h6::before{
    counter-increment: h6;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "
}