.side-dock-ribbon.is-collapsed:not(:hover){ width: 0px !important; opacity: 0;flex-basis: 2px}

.side-dock-ribbon.is-collapsed.mod-right{ border-radius: 10px 0 0 0;}
.side-dock-ribbon.is-collapsed.mod-left{ border-radius: 0 10px 0 0;}

.workspace {background-color: var(--background-secondary-alt)}